html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}

h1 {
    color: darkblue;
}

p {
    font-size: 20px;
}
nav {
    background-color: brown;
    padding: 18px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}
nav a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}
section {
    background-color: white;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}

h2 {
    color: darkblue;
}
button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}
input,
textarea {
    width: 80%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 6px;
    font-size: 16px;
}

textarea {
    height: 120px;
    resize: none;
}

form {
    max-width: 600px;
    margin: auto;
}
footer {
    background-color: darkblue;
    color: white;
    padding: 20px;
    margin-top: 30px;
}
.hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    background: linear-gradient(135deg, #050816, #0b1228, #071a3d);
    padding: 60px 8%;
    color: white;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.hero button {
    background-color: white;
    color: darkblue;
}
.services-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-card { transition: 0.3s;
    background-color: white;
    width: 280px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.service-card h3 {
    color: darkblue;
}

.service-card:hover {
    transform: translateY(-8px);
}
@media (max-width: 600px) {
    nav{
        padding: 10px;
    }    
        
    nav a {
        display: block;
        margin: 10px;
        font-size: 16px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 18px;
    }

    section {
        margin: 15px;
    }

    input,
    textarea {
        width: 95%;
    }
}
.profile-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
transition: 0.3s;
}
section{
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px 25px;
}
.about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.about-photo{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.about-text{
    max-width: 500px;
    text-align: left;
    font-size: 17px;
    line-height: 1.6;
}

.skills-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skill{
    background-color: white;
    width: 200px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgb(0,0,0,0.12);
    transition: 0.3s;
    text-align: center;
}

.skill:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
}

.skill h3{
    color: darkblue;
    margin-bottom: 10px;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background-color: white;
    width: 280px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
    transition: 0.3s;
    text-align: center;
}

.project-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
}

.project-card h3 {
    color: darkblue;
    margin-bottom: 10px;
}

.project-card button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.project-button {
    display: inline-block;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.project-button:hover {
    background-color: blue;
}

.project-preview{
    width: 95%;
    max-width: 800px;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
    box-shadow: o 4px 15px rgb(0,0,0,0.2);
}

.hero h2{
    font-size: 24px;
    margin: 10px 0;
    font-weight: 500;
}

.hero p{
    max-width: 650px;
    margin: 15px auto 25px;
    color: darkblue;
    line-height: 1.7;
    font-size: 18px;
}

.hero button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    transform: translateY(-2px);
    opacity: 0.8;
}

.hero {
    padding: 80px 25px;
    border-radius: 0 0 30px 30px;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-card {
    background-color: white;
    width: 240px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
    text-align: center;
    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.18);
}

.service-card h3 {
    color: darkblue;
    margin-bottom: 10px;
}

.service-card p {
    line-height: 1.6;
}

#contact{
    text-align: center;
}
#contact form{
    max-width: 600px;
    margin: 30px auto;
}

#contact label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#contact input,
#contact textarea{
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

#contact textarea{
    min-height: 150px;
    resize: vertical;
}

#contact input:focus,
#contact textarea:focus{
    outline: none;
    border: 2px solid darkblue;
}

#contact button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#contact button:hover {
    transform: translateY(-2px);
    opacity: 0.7;
}

footer {
    background-color: brown;
    color: white;
    text-align: center;
    padding: 25px 15px;
    margin-top: 50px;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.project-preview{
    background-color: brown;
    padding: 10px;
    border: 2px solid brown;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.tech-tags {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin: 25px 0;
}

.tech-tags span {
    background-color: brown;
    color: white;
    padding: 7px 14px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
}

.status-badge {
    display: inline-block;
    background-color: #fff3cd;
    color: #856404;
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: bold;
    border: 1px solid #ffeeba;
}

.project-button {
    display: inline-block;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 15px;
}

.project-button:hover {
    transform: translateY(-2px);
    opacity: 0.7;
}
body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode section {
    color: white;
}

body.dark-mode .skill,
body.dark-mode .project-card,
body.dark-mode .service-card {
    background-color: #1e1e1e;
    color: white;
}

body.dark-mode h2,
body.dark-mode .skill h3,
body.dark-mode .project-card h3,
body.dark-mode .service-card h3 {
    color: white;
}

body.dark-mode #contact input,
body.dark-mode #contact textarea {
    background-color: #1e1e1e;
    color: white;
    border-color: #555;
}
body.dark-mode p {
    color: #eeeeee;
}

body.dark-mode h1 {
    color: white;
}

body.dark-mode h2 {
    color: white;
}

body.dark-mode h3 {
    color: white;
}

body.dark-mode .hero h2 {
    color: #dddddd;
}

body.dark-mode nav a {
    color: white;
}

body.dark-mode .skill p,
body.dark-mode .project-card p,
body.dark-mode .service-card p {
    color: #eeeeee;
}
body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode section {
    background-color: #121212;
    color: white;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode p {
    color: white;
}

body.dark-mode nav {
    background-color: #3b2418;
}

body.dark-mode nav a {
    color: white;
}

body.dark-mode .skill,
body.dark-mode .project-card,
body.dark-mode .service-card {
    background-color: #1e1e1e;
    color: white;
}

body.dark-mode .skill p,
body.dark-mode .project-card p,
body.dark-mode .service-card p {
    color: #dddddd;
}

body.dark-mode #contact input,
body.dark-mode #contact textarea {
    background-color: #1e1e1e;
    color: white;
    border-color: #555;
}

body.dark-mode footer {
    background-color: #0d0d0d;
    color: white;
}
body.dark-mode #home {
    background-color: #121212 !important;
    color: white !important;
}

body.dark-mode #home h1,
body.dark-mode #home h2,
body.dark-mode #home p {
    color: white !important;
}
body.dark-mode .hero {
    background: linear-gradient(135deg, #050816, #0b1228, #071a3d) !important;
    color: white !important;
}
#theme-toggle:hover{
    background-color: goldenrod;
    color: burlywood;
    border: 2px solid white;
    padding: 7px 10px;
    border-radius: 10px;
    font-size: 10px;
    cursor: pointer;
}
#theme-toggle:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(5px);
}
#theme-toggle{
    background-color: brown;
}

#menu-toggle {
    display: none;
}

#side-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}
@media (max-width: 700px) {
    
    body {
    font-size: 17px;
    }

    section {
    padding: 35px 20px;
    }

    h2 {
    font-size: 28px;
    }

}

@media (max-width: 700px){
    .hero{
        padding: 50px 15px;
    }
    .hero h1{
        font-size: 32px;
    }
    .hero h2{
        font-size: 22px;
    }
    .hero p{
        font-size: 18px;
    }
    .profile-photo{
        width: 140px;
        height: 140px;
    }
    .hero-button {
    font-size: 16px;
    padding: 10px 22px;
    }
    .skill {
    width: 90%;
    max-width: 320px;
    }
    .project-card {
    width: 90%;
    max-width: 350px;
    }
    .service-card {
    width: 90%;
    max-width: 350px;
    }

    
    .project-card {
    width: 95%;
    max-width: 400px;
    padding: 25px;
    }

    .project-card h3 {
    font-size: 22px;
    }

    .project-card p {
    font-size: 17px;
    }

    nav a {
    font-size: 16px;
    padding: 10px 12px;
    }

    .skill,
    .service-card {
    width: 95%;
    max-width: 400px;
    padding: 25px;
    }

    .skill h3,
    .service-card h3 {
    font-size: 21px;
    }

    .skill p,
    .service-card p {
    font-size: 17px;
    }

    .contact-form input,
    .contact-form textarea {
    width: 95%;
    font-size: 17px;
    padding: 12px;
    }

    .contact-form button {
    font-size: 17px;
    padding: 12px 25px;
    }
}
.project-status{
    display: inline-block;
    margin-top: 15px;
    padding: 6px 12px;
    border-radius: 15px;
    color: white;
    font-size: 13px;
    font-weight: bold;
}
.hero-button {
    display: inline-block;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s;
}

.hero-button:hover {
    background-color: blue;
    transform: translateY(-5px);
}

@media (max-width: 700px) {

    nav {
        justify-content: flex-start;
        padding: 12px 15px;
    }

    #menu-toggle {
    display: block;
    position: static;
    top: 20px;
    left: 15px;
    font-size: 15px;
    background: goldenrod;
    border: none;
    color: black;
    cursor: pointer;
    z-index: 1002;
    }

    #side-menu {
        position: fixed;
        top: -120%;
        left: 0;
        width: 220px;
        height: 100vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 70px 20px 20px;
        gap: 15px;
        transition: top 0.5s ease;
        z-index: 1000;
    }

    #side-menu.open {
        top: 0;
    }

    #side-menu a {
        color: #333;
        font-size: 17px;
        padding: 10px;
        width: 100%;
        text-align: left;
    }

    #side-menu a:hover {
        background-color: #f2f2f2;
        transform: none;
    }

    #side-menu #theme-toggle {
        margin-top: 10px;
    }

    #menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999;
    }

    #menu-overlay.open {
    opacity: 1;
    visibility: visible;
    }

    #theme-toggle {
    background-color: #d4af37;
    }
}
.whatsapp-button {
    display: inline-block;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 15px;
    transition: 0.3s;
}

.whatsapp-button:hover {
    background-color: #128C7E;
    transform: translateY(-2px);
}

.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: darkblue;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    opacity: 0;
    visibility: hidden;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.profile-photo {
    width: 350px;
    height: 450px;
    object-fit: cover;
    border-radius: 25px;
    box-shadow: 0 0 30px rgba(59, 108, 255, 0.4);
}

.hello {
    color: wheat!important;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.hero-content h1 {
    font-size: 60px;
    margin: 0 0 10px;
    color: white;
}

.hero-content h2 {
    color: #3b6cff;
    font-size: 32px;
    margin-bottom: 20px;
}

.hero-content > p:not(.hello) {
    color: #b8b8b8;
    font-size: 18px;
    line-height: 1.7;
    max-width: 600px;
    margin-bottom: 30px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.contact-button {
    display: inline-block;
    color: white;
    text-decoration: none;
    border: 2px solid #3b6cff;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    height: 45px;
    width: 180px;
}
.contact-button:hover{
    transition: 0.3s;
    background-color: blue;
    transform: translateY(-2px);
}

@media (max-width: 700px) {

    .hero {
        min-height: auto;
        flex-direction: column;
        text-align: center;
        padding: 90px 20px 50px;
        gap: 35px;
    }

    .hero-image {
    order: -1;
    }

    .hero-content {
        width: 100%;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content h2 {
        font-size: 24px;
    }

    .hero-content > p:not(.hello) {
        font-size: 16px;
        line-height: 1.6;
    }

    .hero-buttons {
        flex-direction: column;
        width: 100%;
        gap: 12px;
    }

    .hero-button,
    .contact-button {
        width: 100%;
        max-width: 280px;
        box-sizing: border-box;
        text-align: center;
    }

    .hero-image {
        width: 100%;
    }

    .profile-photo {
        width: 260px;
        height: 330px;
    }
}

.project-hero {
    background: linear-gradient(135deg, #050816, #0b1228, #071a3d);
    color: white;
    padding: 70px 20px;
    text-align: center;
    border-radius: 0 0 30px 30px;
}

.project-hero h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 20px;
}

.project-hero p {
    color: #b8b8b8;
    font-size: 25px;
    line-height: 1.6;
    max-width: 650px;
    margin: auto;
}

@media (max-width: 700px) {
    .project-hero {
        padding: 50px 20px;
        min-height: auto;
    }

    .project-hero h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    .project-hero p {
        font-size: 23px;
        line-height: 1.6;
    }
}